<div class="d-flex justify-content-center">
  <h2>What's your favourite colour?</h2>
</div>
<div class="">
      <% @colour_hash_key.each do |colour| %>
        <div class="colour-button m-2" style="background-color:<%=colour[1]%>;">
          <%# <%= f.i "#{colour[0]}", name: "colour"%>
          <label for=<%="#{colour[0]}"%>><%="#{colour[0]}"%></label>
          <input id=<%="#{colour[0]}"%> name="" type="checkbox" value="" class="checkbox" />
          
          <%# <%= check_box_tag("#{colour[0]}"), name: "colour" %>
        </div>
      <% end %>
</div>
