<h2>How was your day?</h2>

<div>
  <%= label_tag "ðŸ¤©" %>
  <%= radio_button_tag :mood, "happy" %>
</div>

<div>
<%= label_tag "ðŸ˜" %>
<%= radio_button_tag :mood, "neutral" %>
</div>

<div>
<%= label_tag "ðŸ˜­" %>
<%= radio_button_tag :mood, "sad" %>
</div>