<div>
  <div class="d-flex flex-wrap justify-content-center">
    <div class="checkbox-div">
      <%= radio_button_tag :star, "cancer", false, class: "checkbox-star" %>
      <label for="star_cancer" style="" data-action="click->question#select">♋️</label>
    </div>

    <div class="checkbox-div">
      <%= radio_button_tag :star, "pisces", false, class: "checkbox-star" %>
      <label for="star_pisces" style="" data-action="click->question#select">♓️</label>
    </div>

    <div class="checkbox-div">
      <%= radio_button_tag :star, "aries", false, class: "checkbox-star" %>
      <label for="star_aries" style="" data-action="click->question#select">♈️</label>
    </div>

    <div class="checkbox-div">
      <%= radio_button_tag :star, "leo", false, class: "checkbox-star" %>
      <label for="star_leo" style="" data-action="click->question#select">♌️</label>
    </div>

    <div class="checkbox-div">
      <%= radio_button_tag :star, "gemini", false, class: "checkbox-star" %>
      <label for="star_gemini" style="" data-action="click->question#select">♊️</label>
    </div>

    <div class="checkbox-div">
      <%= radio_button_tag :star, "taurus", false, class: "checkbox-star" %>
      <label for="star_taurus" style="" data-action="click->question#select">♉️</label>
    </div>

    <div class="checkbox-div">
      <%= radio_button_tag :star, "libra", false, class: "checkbox-star" %>
      <label for="star_libra" style="" data-action="click->question#select">♎️</label>
    </div>

    <div class="checkbox-div">
      <%= radio_button_tag :star, "virgo", false, class: "checkbox-star" %>
      <label for="star_virgo" style="" data-action="click->question#select">♍️</label>
    </div>

   <div class="checkbox-div">
     <%= radio_button_tag :star, "scorpio", false, class: "checkbox-star" %>
     <label for="star_scorpio" style="" data-action="click->question#select">♏️</label>
   </div>

   <div class="checkbox-div">
     <%= radio_button_tag :star, "sagittarius", false, class: "checkbox-star" %>
     <label for="star_sagittarius" style="" data-action="click->question#select">♐️</label>
   </div>
   
   <div class="checkbox-div">
     <%= radio_button_tag :star, "capricorn", false, class: "checkbox-star" %>
     <label for="star_capricorn" style="" data-action="click->question#select">♑️</label>
   </div>

   <div class="checkbox-div">
     <%= radio_button_tag :star, "aquarius", false, class: "checkbox-star" %>
     <label for="star_aquarius" style="" data-action="click->question#select">♒️</label>
   </div>  

  </div>
</div>
