<div class="container-history">
  <h2 class="page-title">HISTORY</h2>
  <ul class="cards mb-2">
    <li class="card card-first-watch">
        <h3>Watch</h3>
    </li>
    <% @movie_results.each do |result| %>
      <li class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= result.movie.image %>)">
        <h3 class="card-title"><%= result.movie.title %></h3>
          <span class="time-ago position-absolute bottom-0 end-0">
            <% case (@today - result.created_at).round %>
              <% when 0..60 %>
                < 1 minute ago
              <% when 61..3600 %>
                <%= ((@today - result.created_at) / 60).round %> minutes ago
              <% when 3601..7199 %>
                1 hour ago
              <% when 7200..86400 %>
                <%= ((@today - result.created_at) / 3600).round %> hours ago
              <% when 86401..172799 %>
                yesterday
              <% else %>
              <%= ((@today - result.created_at) / 86400).round %> days ago
            <% end %>
          </span>
        <%# <div class="card-link-wrapper">
          <a href="" class="card-link">Details</a>
        </div> %>
      </li>
    <% end %>
  </ul>

   <ul class="cards mb-2">
    <li class="card card-first-custom">
        <h3>Custom</h3>
    </li>
    <% @custom_results.each do |result| %>
      <li class="card" style="background-color: <%= ["#5C78FF", "#01C97B", "#FF653E"].sample %>">
          <div class="d-flex justify-content-between">
            <h3 class="card-title question" style="color: #FFCA14;"><%= result.question %></h3>
            <%= link_to "x", custom_result_path(result), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "x"%>
          </div>
          <div class="answer-box mt-5 d-flex justify-content-center">
            <h3 class="answer" ><%= result.answer %></h3>
          </div>

        <%# <div class="card-link-wrapper">
          <a href="" class="card-link">Details</a>
        </div> %>

          <span class="time-ago custom-time position-absolute bottom-0 end-0">
            <% case (@today - result.created_at).round %>
              <% when 0..60 %>
                < 1 minute ago
              <% when 61..3600 %>
                <%= ((@today - result.created_at) / 60).round %> minutes ago
              <% when 3601..7199 %>
                1 hour ago
              <% when 7200..86400 %>
                <%= ((@today - result.created_at) / 3600).round %> hours ago
              <% when 86401..172799 %>
                yesterday
              <% else %>
              <%= ((@today - result.created_at) / 86400).round %> days ago
            <% end %>
          </span>
      </li>
    <% end %>
  </ul>
</div>
