<div class="container mt-5" data-controller="time-saved">
    <div class="restaurant panel" data-time-saved-target="panel">
      <div class="d-flex justify-content-center mb-2">
          <%= image_tag "#{@restaurant_result.restaurant.image_1}", width: 300 %>
      </div>
      <h1><%= @restaurant_result.restaurant.name %></h1>
      <p><%= @restaurant_result.restaurant.cuisine %></p>
      <div>
        <%= hidden_field_tag "", @restaurant_result.time_taken, class: "time" %>
        <% if @restaurant_result.accepted.nil? %>
          <%= form_for @restaurant_result, url: restaurant_suggestion_path(@restaurant_result), method: :patch do |f| %>
            <div class="d-flex justify-content-between">
              <%= f.submit "Accept", class: "accept-btn", "data-time-saved-target": "accept", "data-action": "click->time-saved#final"%>
              <%= f.submit "Reject", class: "back-to-roll-btn" %>
              <%= hidden_field_tag :time_taken, :time %>
            </div>
            <% end %>
            <% else %>
              <div>
                <p>Based on overthinkers everywhere, you saved a lot of time on this decision!</p>
                <div class="time">
                  <%= @restaurant_result.time_taken %>
                </div>
                <%= link_to "◀ Back to Feed", history_path, class: "accept-btn" %>
              </div>
        <% end %>
      </div>
    </div>
</div>