<div class="">
    <%= simple_form_for(@custom) do |f| %>
        <%= f.input :question %>
        <div class="d-flex">
          <%= f.submit "Create Question", class: "btn btn-primary flex-fill" %>
        </div>
    <% end %>

    <div class="mt-4">
      <%= simple_form_for(@custom) do |f| %>
        <h6>Option 1</h6>
        <div class="d-flex">
          <div class="flex-grow-1">
            <%= f.input :question, label: false %>
          </div>
          <div class="ms-3">
            <%= f.submit "", class: "plus-button" %> 
          </div>
        </div>
      <% end %>
    </div>

    <div class="mt-4">
      <%= simple_form_for(@custom) do |f| %>
        <h6>Option 2</h6>
        <div class="d-flex">
          <div class="flex-grow-1">
            <%= f.input :question, label: false %>
          </div>
          <div class="ms-3">
            <%= f.submit "", class: "minus-button" %> 
          </div>
        </div>
      <% end %>
    </div>
</div>